html 
  head 
    style 
      include ../styles/styles.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script
      include ../src/plutchiksWheel.js
    body(onload="test();")
      h1 Feels Tracker 
      h2 Which Emotion Are You Feeling?
      include ../images/plutchiksWheel.svg