html 
  head 
    style 
      include ../styles/styles.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    
    body
      h1 Feels Tracker 
      h2 Which Emotion Are You Feeling?
      include ../images/plutchiksWheel.svg
    script(src="http://localhost:8080/plutchiksWheel.js")