html 
  head 
    style 
      include ../styles/styles.css
    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      )
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    
    body
      h1 Feels Tracker 
      h2 Which Emotion Are You Feeling?
      include ../images/plutchiksWheel.svg
    script(src="http://localhost:8080/plutchiksWheel.js")