:root {
  --petalColor: 0, 249, 237;
}

body {
  background-color: black;
}

h1,
h2 {
  color: white;
}

.petal {
  fill: rgba(var(--petalColor), 0.4);
}

.petal.selected {
  fill: rgba(var(--petalColor), 1);
}

.petal:hover {
  fill: rgba(var(--petalColor), 1);
}

.response {
  color: white;
}

.subpetal {
  display: none;
}

.subpetal.selected {
  display: block;
  fill: red;
}

.subpetal0_text,
.subpetal1_text,
.subpetal2_text,
.subpetal3_text,
.subpetal4_text,
.subpetal5_text,
.subpetal6_text,
.subpetal7_text {
  display: none;
}

.subpetal0_text.selected,
.subpetal1_text.selected,
.subpetal2_text.selected,
.subpetal3_text.selected,
.subpetal4_text.selected,
.subpetal5_text.selected,
.subpetal6_text.selected,
.subpetal7_text.selected {
  display: block;
  text-align: center;
}

text {
  color: white;
}
